*
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcoral;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    /* outline: 2px solid red; */
}

body
{
    width: 800px;
    margin: 16px auto;
}

p {
    padding: 10px 10px 10px 20px;
}


h1 {
    color: rgb(0, 102, 139);
    font-weight: bold;
    text-align: center;
}

h2
{
    padding: 10px 10px 10px 0px;
}

li
{
    margin: 0px auto;
}

.container
{
    width: 400px;
    margin: 0px auto;
}


div.pages
{
    display: inline-block;
    font-size: 30px;
    width: 400px;
    margin: 0px auto;
    text-align: center;
}